@import '../../Variables.scss';

.aside{
    width: 25%;
    min-width: 310px;
    max-width: 310px;
    min-height: 100%;
    padding: 30px;

    background: $aside-bg;
    border-top-left-radius: 28px;
    border-bottom-left-radius: 28px;
}