@import '../Variables.scss';

.app{
    margin: auto;
    max-width: 1920px;
    width: 100%;
    min-height: 650px;
    background: $main-bg;
    border-radius: 28px;
    box-shadow: 1px 5px 50px rgba($black, 0.1);

    display: flex;
}