@import '../../../../Variables.scss';

.highlight{
    flex: 1 0 30%;
    min-height: 235px;
    background: $white;
    border-radius: 20px;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &__title{
        color: #C3C3C3;
        font-weight: 400;
        font-size: 25px;
    }

    &__value{
        font-size: 40px;
    }

    &__unit{
        font-weight: 500;
        font-size: 30px;
    }

}