@import '../../../Variables.scss';

.address{
    margin-top: 30px;
    width: 100%;
    height: 150px;
    position: relative;
    overflow: hidden;
    border-radius: 30px;
    img{
        width: 100%;
        min-height: 100%;
        object-fit: cover;
    }
    .titleWrapper{
        position: absolute;
        width: 100%;
        height: 100%;
        left: 0;
        top: 0;
        background-color: rgba(0,0,0,0.5);
        text-align: center;
        display: grid;
        place-items: center;
        padding: 10px;
    }
    .title{
        color: $white;
    }
}