@import '../../../../../Variables.scss';

.unitBtn{
    width: 40px;
    height: 40px;
    padding: 10px;
    border-radius: 50%;
    background: #fff;
    box-sizing: border-box;
    text-align: center;
    line-height: 23px;
    font-weight: 600;
    font-size: 16px;
    user-select: none;
    &:not(:last-child) {
        margin-right: 10px;
    }
}

.unitBtn.active{
    background: $black;
    color: $white;
    pointer-events: none;
}
